/*блок для скрытия текста и картинок если сss загрузился удачно*/
.text-hidden{
	display: none;
}
/*конец блок для скрытия*/
/*Начало стили верхнего меню*/
.top__menu{
	position: relative;
	display: table-row;
	text-align: center;
	margin-top: 10px;
	top:100px;
}
.top__menu-item{
	list-style: none;
}
.top__menu-element{
	display: inline-block;
}
.top__menu-list{
	padding: 0;
	margin: -13px;	
	display: table;
}
.top__menu-elem-flag{
	position: relative;
	display: table-cell;
  	margin: 0;
  	border: 22px solid; 
  	border-color: rgb(0,185,254) rgb(0,185,254) rgb(0,185,254) transparent;
  	width: 0;

  }
.top__menu-elem-block{
	display: table-cell;
	background-color: rgb(0,185,254);
	width: auto;
	text-align: center;
	vertical-align: middle;
    width: auto;
    color: rgb(247,247,247);
   	font-family: 'elektra_light_proregular'; 

}
.top__menu-elem-triangle{
	display: table-cell;
    border-top: 22px solid transparent;
    border-left: 22px solid rgb(0,185,254);
    border-bottom: 22px solid transparent;
    width: 0;
}
.top__menu-link{
	text-decoration: none;
}
/*конец стилей верхнего меню*/
body{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
}
html{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);	
}
/*общие классы начало*/
/*общий класс для link*/
.link{
	color: rgb(0,185,254);
	font-family: 'elektra_medium_proregular';
	font-size: 14px;
}
/*конец общего класса для link*/
/*общий клсс text*/
.text{
	 font-family: 'elektra_light_proregular';
	 color: rgb(92,123,152);
	 font-size: 16px;
}
/*конец общего класса text*/
/* clearfix */
.container-header:before, .clearfix:before,
.container-header:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container-header:after, .clearfix:after {
  clear: both;	
}
/* clearfix - конец */
/* общие классы - конец */

/* прибьём футер к низу  -- Ваня это просто хак - запомни это и используй, не заморачивайся по поводу того как он работает */
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 970px; /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 238px;
	display: block;
}
.page__footer{
	height: 238px;
	margin-top: -238px;	
}
/* прибьём футер к низу - конец*/


/*Начало header*/
.header{
	width: 100%;
	height: 162px;
	background: url(../img/header-background.png);
	background-repeat-x:inherit;
	background-repeat-y:no-repeat;
	margin: 0;
}
.container-header{
	width:83.3%;  /* 83.3%*/
	min-width: 400px;
	margin: 0 auto;
	padding-top: 25px;
	display: table;
	height: 100%;

}
.row{
	display: table-row;
}
.top__logo{
	float: left;
}
.contact{
	float: right;
}

.tel{
		margin-bottom: 16px;
}
.tel .contact-tel{
	font-family: 'elektra_light_probold';
	color: rgb(92,123,152);
}
.email .contact-email{
	font-family: 'elektra_light_proregular';
	color: rgb(97,57,147);
}

.main{
	width:83.3%;  /* 83.3%*/
	min-width: 400px;
	margin: 0 auto;
}
/*Конец header*/
/*Навигация под headerом*/
.nav__site-left-wrapp{
	float: left;
}
.nav__site-left-list{
}
.nav__site-left-img{
	display: inline-block;
	height: 10px;
	width: 10px;
	background: url(../img/list-top.png) no-repeat;
	margin-left: 4px;
}
.nav__site-left-item{
	display: inline-block;
	margin-left: 7px;
}
.site-left-item-link{
	
}
.site-left-item-link-last{
	color: rgb(92,123,152);
	font-family: 'elektra_light_proregular';
  	font-size: 14px;
	text-decoration: none;
}
.nav__site-right-wrapp{
	float: right;
}
.site__number-list{
	display: inline-block;
	list-style: none;
	padding-left:30px;
}
.site__number-item{
	display: inline-block;
}
.select__site-list{
	width: 132px;
	height: 26px;
	color: rgb(92,123,152);
	/*отменяем стандартную стилизацию списка*/
	/*for WebKit*/
 	-webkit-appearance: none;
 	/* for FF */
  	-moz-appearance: none;
  	text-indent: 0.01px; 
  	text-overflow: '';
  	/* for IE */
  	-ms-appearance: none;
  	appearance: none!important;
  	/*конец отмены стандартной стилизации списка*/
  	background-image: url(../img/select.png);
  	background-position: right center;
  	background-repeat: no-repeat;
  	font-family: 'elektra_light_proregular';
  	font-size: 14px;
}
/*/*Конец навигации под headerом*/

/*Начало основного контента включая левое меню*/
/*Начало меню*/
.main__menu{
	float: left;
}

/*Конец меню*/
.content{
	float: right;
	width: 70%;
}

/*Конец основного контента включая левое меню*/

/*Начало footer*/
.page__footer{
	background: url(../img/footer-background.png);
}
.footer-wrap{
	width:83.3%;
	height: 100%;
	margin: 0 auto;
	display: table;
}
.page__footer-wrap-img{
	display: table-cell;
	vertical-align: middle;
}
.page__footer-wrap-all-menu{
	display: table-cell;
	vertical-align: middle;
}
.page__footer-social{
	display: table-cell;
	vertical-align: middle;
}
.page__footer-wrap-menu{
	display: inline-block;
	padding-left: 74px;
}
.page__footer-menu-zagolovok{
	color: rgb(255,255,255);
	font-family: 'elektra_light_probold';
	font-size: 14px;
}
.page__footer-menu-list{
	list-style: none;
	padding-left: 0;
}
.page__footer-menu-item{
	margin-bottom: 12px;
}
.page__footer-menu-link{
	color: rgb(255,255,255);
	font-family: 'elektra_light_probold';
	font-size: 14px;	
}

.page__footer-social-store-item{
	display: inline-block;	
}
.page__footer-social-store-list{
	list-style: none;
}
.appstore{
	background: url(../img/social/appstore.png) center no-repeat;
}
.googleplay{
	background: url(../img/social/googleplay.png) center no-repeat;	
}
.page__footer-social-list{
	list-style: none;

}
.page__footer-social-item{
	display: inline-block;
	margin-left: 10px;
}
.page__footer-social-item:first-child{
	margin-left: 0;
}
.page__footer-social-store-link{
  display: block;
  text-indent: -9999px;
  height: 40px;
  width: 90px;
}
.page__footer-social-link{
	display: block;
  	text-indent: -9999px;
  	height: 40px;
  	width: 40px;	
}

.vk{
	background: url(../img/social/vk.png) center no-repeat;
}
.fb{
	background: url(../img/social/facebook.png) center no-repeat;
}
.tw{
	background: url(../img/social/twitter.png) center no-repeat;
}
/*Конец footer*/

/*блок контента*/
.content__item{
	display: table;
	border: 1px solid rgb(220,227,236);
	margin-bottom: 20px;
}
.content__item-wrap-img{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding:30px;
}
.content__item-img{
	width: 100px;
	height: 80px;
}
.content__item-wrap-text{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 80%;
}
.content__item-link{
	padding-bottom: 23px;
}
.content__list-link:hover{
	box-shadow: 10px solid black;
}
.content__list{
	padding-left: 0;
}
/*конец блока контента*/

/*О магазине*/
.about__magazin-zag{
	font-family: 'elektra_light_probold';
	color: rgb(92,123,152);
	font-size: 25px;
}
.about__magazin-text{
	font-family: 'elektra_light_proregular';
	color: rgb(92,123,152);
	font-size: 15px;
}
/*Конец О магазине*/
/*Главное левое меню*/
.main__menu-group-top{
	background: rgb(0,185,254);
	padding: 9px 20px;
}
.main__menu-group-link{
	color: rgb(255,255,255);
	font-family: 'elektra_light_proregular';
	font-size: 15px;
	text-decoration: none;
}
.main__menu-item{
	border: 1px solid rgb(218,225,235);
	width: 210px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 32px;
	padding-right: 20px;
	list-style: none;
	background-image: url(../img/list-top.png);
  	background-position: 20px center;
  	background-repeat: no-repeat;
}
.main__menu-link{
	font-family: 'elektra_light_probold';
	font-size: 15px;
	color: rgb(92,123,152);
}
/*Конец главного левого меню
