/*блок для скрытия текста и картинок если сss загрузился удачно*/
.text-hidden{
	display: none;
}
/*конец блок для скрытия*/
body{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
}

/* clearfix */
.container-header:before, .clearfix:before,
.container-header:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container-header:after, .clearfix:after {
  clear: both;	
}
/* clearfix - конец */
/* общие классы - конец */

/*Начало header*/
.header{
	width: 100%;
	height: 120px;
	background: url(../img/header-background.png);
	margin-bottom: 120px;
}
.container-header{
	width:83.3%;  /* 83.3%*/
	min-width: 400px;
	margin: 0 auto;
	padding-top: 25px;

}
.top__logo{
	float: left;
}
.contact{
	float: right;
}
.tel{
		margin-bottom: 16px;
}
.tel .contact-tel{
	font-family: 'elektra_light_probold';
	color: rgb(92,123,152);
}
.email .contact-email{
	font-family: 'elektra_light_proregular';
	color: rgb(97,57,147);
}
.top__menu{
	position: absolute;
	top:100px;
	text-align: center;

}
.top__menu-list{
	margin:0;
}
.top__menu-item{
	display: inline-block;
	padding: 14px 11px;
	background: rgb(247,247,247);
	margin:0;
}
.top__menu-link{
	color: rgb(29,123,152);
}
.main{
	width:83.3%;  /* 83.3%*/
	min-width: 400px;
	margin: 0 auto;
}
/*Конец header*/
/*Навигация под headerом*/
.nav__site-left-wrapp{
	float: left;
}
.nav__site-left-list{
}
.nav__site-left-img{
	display: inline-block;
	height: 10px;
	width: 10px;
	background: url(../img/list-top.png) no-repeat;
	margin-left: 4px;
}
.nav__site-left-item{
	display: inline-block;
	margin-left: 7px;
}
.site-left-item-link{
	color: rgb(0,185,254);
}
.site-left-item-link-last{
	color: rgb(92,123,152);
	text-decoration: none;
}
.nav__site-right-wrapp{
	float: right;
}
/*Конец навигации под headerом*/